*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    width: 100%;
    font-size: 15px;

    
    
}
/* Desktop View*/
.header{
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    color: hsl(0, 0%, 100%) ;
    padding: 1rem;
    padding-bottom: 15rem;
    

}
.header img{
    max-width: 100%;
}
.top-header{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 5rem;
    
}
.header-nav{
    display: flex;
    cursor: pointer;
    
}
.header-nav a{
 margin: 0.5rem;
}
.header-nav a:hover{
    opacity: 0.5;
}
.header-motto{
    font-size: 3rem;
    font-weight: lighter;
    font-family:'Roboto', sans-serif; 
    border: 0.1rem solid white;
    background-color: inherit;
    max-width: 30%;
    padding: 1rem;
    margin-left:3rem ;
    margin-top: 3rem;
    text-transform: uppercase;
    

}

.content-1{
    display: flex;
    padding: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    
}
.content-1 img{
    margin-left: 3rem;
    max-width: 100%;
}
.article{
    border: 1px transparent white;
    position: absolute;
    max-width: 30%;
    right: 0;
    margin-top: 10rem;
    margin-right:15rem ;
    text-align:left;
    
}


.article .heading{
 font-size: 2rem;
 font-family:'Roboto', sans-serif ;
 font-weight: bold;
 color: hsl(0, 0%, 0%);
 padding: 2rem;
 padding-left: 8rem;
 padding-top: 4rem;
 text-transform: uppercase;
}
.content-1 p{
    background-color: white;
    color:hsl(0, 0%, 55%);
    padding: 2rem;
    padding-left: 8rem;
    font-family: sans-serif;
    
      
}
.heading-2{
    display: flex;
    justify-content: space-between;
    place-content: center;
    gap: 47rem;
}
.content-2{
  display: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
    
}
.creation{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.see-all{
    border: 0.1rem solid hsl(0, 0%, 55%);
    padding: 0.5rem;
    text-transform: uppercase;
    
}
.content-2-images{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 8rem;

    
}
.content-2-images img{
    padding: 0.5rem;
    max-width: 100%;
    cursor: pointer;
    
}
.content-2-images img:hover{
    opacity: 0.8;
}
.content-2-images p{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    position: absolute;
    color: whitesmoke;
    text-transform: uppercase;
    transform: translateY(-150px);
    text-align:center;
    margin-left: 2rem;
    cursor: pointer;
}
.footer{
    background-color: hsl(0, 0%, 0%) ;
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}
.footer a,.footer p{
    color: hsl(0, 0%, 55%);
    padding: 1rem;
    
}
.footer a{
    padding: 0.5rem;
    cursor: pointer;
    font-family: sans-serif;
}
.footer .images{
    margin-left: 9rem;
    cursor: pointer;
    
}
.footer .images img{
    margin:0.2rem;
}
.attribution, .attribution a{
    text-align: center;
    color: black;
}
/*Everything under here was set to display none because it,s for the mobile view*/
.content-mobile-img{
    display: none;
}
.hamburger{
    display: none;
}
.mobile-see-all{
    display: none;
}


/* ResponsiveMobile View*/
@media screen and (max-width:600px) {
    .header{
        max-width: 100%;
        min-height: 100%;
        background-image: url(images/mobile/image-hero.jpg);
        background-size: cover;
    }
    .header-nav{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        min-height: 100vh;
        font-size: 1.5rem;
        color: whitesmoke;
        padding: 2rem;
        padding-top: 5rem;
        top: 0;
        margin: 0;
        position: absolute;
        display: none;
        inset: 0 0 0 10rem;
        position: fixed;
    }
    .header-nav.active{
        display: block;
    }
    
    .header-nav a{
        display: block;
        padding-bottom: 1rem;

    }
    .header-nav a:hover{
        color: red;
        cursor: pointer;
    }
    .hamburger{
        background-color: inherit;
        border: none;
        outline: none;
        display: block;
        max-width: 100%;
        position: absolute;
        z-index: 999;
        left: 1;
        position: fixed;
        cursor: pointer;
        
    }
    
    
    .closeIcon{
        display: none;
    }
    .closeIcon.active{
        display: block;
    }
    
    .header-motto{
        font-size: 2.5rem;
        max-width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 2rem;
        place-content: center;

    }
    .content-1{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        top:0%;
        left: 0%;
        transform: none;
        
    }
    
    .article{
        border: none;
        position: initial;
        max-width: 100%;
        right: none;
        margin-top: 1rem;
        margin-right: 0;
        text-align: right;
        padding: 2rem;
    }
    .article .heading{
        font-size: 1.5rem;
        padding: 1rem;
        padding-left: 0;
        padding-top: 0;
        text-transform: uppercase;

    }
    .content-1  p{
        padding: 0;
        padding-left: 0;
        font-weight: bold;
        text-align: center;
        font-size: 1rem;
    }
    .content-1 img{
        display: none;
    }
    .content-1 .content-mobile-img{
        display: block;
        max-width: 100%;
        margin-left: 0;
        margin: auto;
    }
    .content-2{
        margin-bottom: 8rem;
    }
    .heading-2{
        display: flex;
        flex-direction: column;
        gap: 0;
    }  
    .creation{
        text-align: center;
        padding-bottom: 2rem;
    }
    .see-all{
        display: none;
    }
        
    .mobile-see-all p{
        border: 0.2rem solid hsl(0, 0%, 41%) ;
       color: black;
       font-size: 1.2rem;
       text-align: center;
       text-transform: uppercase;
       width: 30%;
       margin: auto;
       padding: 0.5rem 0 0.5rem 0;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .mobile-see-all{
        margin-top: 3rem;
    }
   
    .content-2-images{
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        margin:0;
    }
    .content-2-images img{
        display: none;
    }
    .content-2-images .content-mobile-img{
        display: block;
        max-width: 100%;
    }
    .content-2-images p{
        font-size: 1rem;
        margin-left: 1rem;
        transform: translateY(-50px);
    }
    .footer{
        display: flex;
        flex-direction:column ;
        text-align: center;
        padding: 3rem;

    }
    .footer a{
        display: block;
        padding: 1rem;
    }

    .footer img, .images{
        max-width: 100%;
        margin:0.5rem;
    }
    .footer img{
        padding-bottom: 1rem;

    }
    .footer .images{
        margin-left: 0;
        padding: 1rem;
    }
    .footer p{
        font-size: 1rem;
        font-family: sans-serif;

    }

    
}
